<form action="/registro" method="post">
        <input type="text" placeholder="Username" name="nombre">
        <input type="password" placeholder="Password" name="contraseña">
        <input type="submit">
    </form>